<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form action="/signup" method="post">
		<section>
			<label for="username">Username</label>
			<input id="username" name="username" type="text" autocomplete="username" required>
		</section>
		<section>
			<label for="firstname">First Name:</label>
			<input id="firstname" name="firstname" type="text" autocomplete="firstname" required>
		</section>
		<section>
			<label for="lastname">Last Name:</label>
			<input id="lastname" name="lastname" type="text" autocomplete="lastname" required>
		</section>
		<section>
			<label for="new-password">Password</label>
			<input id="new-password" name="password" type="password" autocomplete="new-password" required>
		</section>
		<button type="submit">Sign up</button>
	</form>
</body>

</html>